.flickr-card {
  min-width: 250px;
  flex: 1;
  box-sizing: border-box;
  overflow: hidden;
  transition: all .6s ease;
  text-align: center;
}

.flickr-card__title {
  margin: 0.5rem 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flickr-card__img-container {
  position: relative;
  cursor: pointer;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.flickr-card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.5s ease;
}

.flickr-card__img-container:hover .flickr-card__img {
  filter: grayscale(1) contrast(1.2);
  transform: scale(1.1);
}
