.form-page__content {
  display: flex;
  gap: 2rem;
}

.form-page__form {
  flex-shrink: 0;
}

.form-page__list {
  flex-grow: 1;
  padding-top: 2rem;
}

.form-page__list-heading {
  margin-top: 0;
}

@media (max-width: 991px) {
  .form-page__content {
    flex-direction: column;

  }

  .form-page__list {
    padding-top: 0;
    padding-bottom: 2rem;
  }
}